/* Top Bar With Animation */
.topbar-responsive {
  background: #020304;
  padding: 0rem 1.5rem;
  width: 100vw;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .tabs {
  background: #020304;
  border: initial;
}

.topbar-responsive .tabs li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .tabs a {
  color: #fefefe;
  transition: color 0.15s ease-in;
    padding: 1.2rem 1.5rem;
}

.topbar-responsive .tabs a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375rem) {
    .topbar-responsive .tabs li {
        margin: 0 !important;
    }
}

@media screen and (min-width: 40rem) {
    .topbar-responsive .tabs .tabs-title {
        position: relative;
    }
}

@media screen and (min-width: 40rem) {
    .topbar-responsive .tabs .tabs-title::after {
        content: "";
        position: absolute;
        border-bottom: 0.125rem solid #fefefe;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
    }
    .topbar-responsive .tabs .tabs-title > a[aria-selected='true'] {
        border-bottom: 0.125rem solid #fefefe;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
    }
}

@media screen and (min-width: 40rem) {
    .topbar-responsive .tabs .tabs-title:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .tabs a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .tabs .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .tabs .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .tabs .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

/* Marketing Site Footer */
.marketing-site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #020304;
  color: #8aa0ae;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

@media screen and (max-width: 31.25em){
    .marketing-site-footer {
        display: none;
    }
}

/* Simple Content Filter */
.filter-simple .button-group {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-simple .filter-simple-button.hollow.is-active, .filter-simple .filter-simple-button.hollow:focus, .filter-simple .filter-simple-button.hollow:active {
  background-color: darkred;
  color: #fefefe;
}

.button-group.round :first-child {
  border-radius: 5000px 0 0 5000px;
}

.button-group.round :last-child {
  border-radius: 0 5000px 5000px 0;
}

.column-block {
  margin-bottom: 30px;
}

.filter-simple-item > img {
  width: 100%;
}

/* Contact Us Section */
.contact-us-section {
  padding: 2rem;
  background: #fefefe;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-section-right {
  padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-right {
    border-left: 1px solid #e6e6e6;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
  padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
  background: transparent;
  color: #8a8a8a;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #0a0a0a;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: 'FontAwesome';
}

.contact-us-list .address::before {
  content: '\f041';
  margin-left: 0.4rem;
  margin-right: 2.3rem;
}

.contact-us-list .email::before {
  content: '\f003';
}

.contact-us-list .phone::before {
  content: '\f098';
}

/* Custom CSS */
.chat-menu {
    display: block;
    position: fixed;
    bottom: 0;
    right: 2rem;
    background-color: #020304;
    z-index: 100;
}
@media screen and (max-width: 31.25em){
    .chat-menu{
        width: 100% !important;
        right: 0;
    }
}

.chat-menu ul {
    margin-bottom: 0.75rem;
}

.chat-title, .chat-title:hover, .chat-title:focus {
    padding: 0.5em 0.8em;
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
}

.chat-body-right, .chat-body-left {
    margin: 0.5em;
    border-radius: 1.5em !important;
    padding: 1em;
    background-color: #efefef;
}

.chat-body-right p, .chat-body-left p {
    margin: 0;
    overflow-wrap: break-word;
}

.chat-body-right span, .chat-body-left span {
    display: block;
    font-size: 0.7em;
    color: #949494;
    line-height: 1.2;
    overflow-wrap: break-word;
}

.chat-body-right {
    margin-left: 25%;
}

.chat-body-left {
    margin-right: 25%;
}

.chat-body-left.header {
    cursor: pointer;
    border-radius: 0rem !important;
    margin: 1em;
    opacity: 0.7;
}

.chat-body-left.header:hover {
  opacity: 1;
}

.chat-body-left.header .datetime {
    text-align: right;
}

.chat-body-left.header .message {
    overflow-wrap: initial;
    overflow: hidden;
}

.chat-body-left.header .name {
    font-weight: bold;  
}

.chat-content {
    max-height: 35vh;
    overflow-y: auto;
}

.chat-name {
    display: none !important;
}

.size-60 {
    margin: 0.5rem;
    font-size: 2vw;
    border-radius: 4rem;
}

.top-bar-container {
    min-height: 100vh;
}

.close-button {
  height: 1em;
  width: 1em;
  color: red;
  background-color: transparent;
  border: 1px red solid;
  border-radius: 4rem;
  align-content: center;
}

.close-button:hover {
  color: darkred;
  border-color: darkred;
  transition: all 0.25s ease;
}

.tabs-content {
  border: 0;
}

.alt-tab {
  display: none;
  width: 100%;
}

/*.orbit .orbit-wrapper .orbit-container .orbit-slide .orbit-figure img {
    width: 100%;
} */